openssl_conf = openssl_init

[openssl_init]
providers = provider_sect
alg_section = algorithm_sect

[provider_sect]
# CRITICAL FIX: Provider MUST be named "fips" for golang-fips/go compatibility
# golang-fips/go calls OSSL_PROVIDER_try_load(NULL, "fips") at initialization
# Renaming wolfProvider from "libwolfprov" to "fips" makes it discoverable by golang-fips/go
fips = fips_sect

[fips_sect]
activate = 1
module = /usr/lib/x86_64-linux-gnu/ossl-modules/libwolfprov.so

[algorithm_sect]
default_properties = fips=yes